body{
    display: flex;
    background-color: #a6e5e9;
    width: 100%;
    height: 100%;
    color: rgb(0, 0, 0);
    
}


header{
    width: 100%;
    height: 80px;
    background:#bcecef ;
    color: rgb(0, 0, 0);
    font-family: 'Balsamiq Sans', cursive;
    border-bottom: black solid;
        
}

  
h1{
    font-size: 40px;
    margin-left: 20%;
    transition: 0.1s all;
    color:black;
        
}

h1:hover{
    color: white;
    transform: scale(1.1);

}


.logo{
    height: inherit;
    margin-right: auto;
    margin-left: 10px;
    
}

.navegaçãoheader{
    width: 57%;
    height: 80px;
    display: flex;
    flex-flow: row;
    align-items:center;
    justify-content: space-between;
    background: #bcecef ;
    color: black;
    }

.conteinerindice{
    display: flex;
    margin-left: 40%;
    gap: 100px;
    }


.indice{
    font-size: 30px;
    border: black solid;
    border-radius: 7px;
    padding: 5px;
    transition: 0.5s all;
      
    }
 
        
.indice:hover{
    color: #bcecef;
    background-color: black;
    transform: scale(1.1);
    border: #bcecef solid;
    border-radius: 7px;

}        

a{
    color: inherit;
    text-decoration: none;
    
}

