body{
    display: flex;
    background-color: black;
    width: 100%;
    height: 100%;
    color: red;
    
}


header{
    display: flex;
    width: 100%;
    height: 80px;
    background:grey ;
    color: yellow;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    font-family: 'Balsamiq Sans', cursive;
        
}
h1{
    font-size: 30px;
    margin-left: 20px;
    
}

h1:hover{
    transform: scale(1.1);

}


.img1{
        height: inherit;
        margin-right: auto;
    
}

.div1{
    display: flex;
    flex-flow: row;
    height: 80px;
    align-items:center;
    justify-content: space-around;
    gap: 20px;
    background: yellow;
    color: black;
    width: 40%;
        }

a{
    color: inherit;
    text-decoration: none;
    
}

