/* RESET */
*{
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: black;
    
}

ul,nav{
    list-style: none;
}
/* BODY */
body{
    width: 100%;
    height: 100%;
    color: rgb(0, 0, 0);
    background-color: #abe2e6;
    font-family: 'Balsamiq Sans', cursive;
    
}

/* HEADER */
header{
    width: 100%;
    height: 80px;
    background:#bcecef ;
    color: rgb(0, 0, 0);
    border-bottom: black solid;
    /* position: absolute; */
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 20px 50px;
        
}

header li:first-child{
    margin-left:0;    
}

header li:last-child{
    margin-right:0;
}

  
h1{
    font-size: 40px;
    transition: 0.1s all;
    color:black;            
}

h1:hover{
    color: white;
    transform: scale(1.1);

}


.logo{
    height: 70px;
    margin-right: auto;
    margin-left: 10px;
    
}

.navheader{
    width: 70%;
    height: auto;
    display: flex;
    flex-flow: row;
    align-items:center;
    justify-content: space-between;
    background: #bcecef ;
    color: black;
    }


.indice{
    font-size: 30px;
    border: black solid;
    border-radius: 7px;
    padding: 5px;
    transition: 0.5s all;
    margin: 0px 15px;
      
    }
 
        
.indice:hover{
    color: #bcecef;
    background-color: black;
    transform: scale(1.1);
    border-radius: 7px;
}        

/* MAIN */
main{
    min-height: 100vh;
    width: 100%;
    height: auto;
    font-size: 30px;
}
h2, h3{
    text-align: center;
}

section{
    

}

.conteinerpet{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
}

.bloco{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: black solid;
    background: #abe2e6;
    border-radius: 5px;     
    height: 50%;
    width: 20%;
}
.imgpet{
    width: 200px;
    height: 200px;
        
}

.bloco:hover{
    
}