@media(max-width:768px){
    header{
        /* display: flex;        */
        flex-direction: column;
        flex-wrap: wrap;
        height: 145px;
        align-items: center;
        justify-content: center;
        width: 100%;   
           
        
    }

    h1{
        align-self:center;
        font-size: 30px;
    }

    .logo{
        display: none;
        height: 70px;
              
    }

    .navheader{
        margin: 20px;
        align-content: center;
        align-items: center;
        width: 100%;
                
    }
    
    .indice{
        font-size: 20px;
        align-self: center;
           
    }
}


@media(max-width:1024px){
    .conteinerpet{
        flex-wrap: wrap;
    }

    .bloco{
        margin: 7px 0px 7px 0px ;
        width: 18%;
        height: 30vh;
    }
 }