@media(max-width:768px){
    header{
        /* display: flex;        */
        flex-direction: column;
        flex-wrap: wrap;
        height: 145px;
        align-items: center;
        justify-content: center;
        width: 100%;   
           
        
    }

    h1{
        align-self:center;
        font-size: 30px;
    }

    .logo{
        display: none;
        height: 70px;
              
    }

    .navheader{
        margin: 20px;
        align-content: center;
        align-items: center;
        width: 100%;
                
    }
    
    .indice{
        font-size: 20px;
        align-self: center;
            
    }
}