@media(max-width:768px){
    body{
        weight:100%;
    }

        header{
        display: flex;       
        flex-direction: column;
        flex-wrap: nowrap;
        height: 145px;
        align-items: center;
        justify-content: center;
        width: 100%;   
           
        
    }

    h1{
        align-self:center;
        font-size: 30px;
    }

    .logo{
        display: none;
        height: 70px;
              
    }

    .navheader{
        margin: 10px;
        gap: 2vh;
        justify-content: center;
        align-items: center;
        width: 100%;
       
                
    }
    
    .indice{
        font-size: 20px;
        align-self: center;
         
    }


    section{
        margin-left:1%
    }
    .conteinerpet{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 80vh
           
    }
    .bloco{
        display: flex;
        flex-direction: column;
        align-items: center;
        border: transparent ;
        background: white;
        border-radius: 5%;   
        height: 24vh;
        text-align: center;  
        
    }
}
@media(max-width:1024px){
    .conteinerpet{
        flex-wrap: wrap;
    }

    .bloco{
        margin: 7px 0px 7px 0px ;
        width: 18%;
        height: 30vh;
    }
 }